@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.login-screen{
    background-color: rgba(255, 255, 255, 0.121);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

#logo-display{
    background-color: #3498DB;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-display img{
    width: 40vw;
    height: 60vh;
}
.main-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title{
    font-size: 3em;
    margin-bottom: 10vh;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    font-size: 1.5em;
}

.checkbox-container{
    width: 61.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-container label{
    font-size: 1em;
}

#check-box{
    width: 2vw;
    height: 2vh;
}

a{
    color: #3498DB;
}

#enviar-forms{
    height: 10vh;
    border: none;
    border-radius: 5px;
    background-color: #3498DB;
    color: white;
}

#enviar-forms:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #3498DB;
}





