input{
   border: none;
   border-bottom: 2px solid black;
   width: 25vw;
   height: 3vh;
   font-size: 1.5em;
   margin-bottom: 2.5vh;
   margin-top: 2vh;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:focus{
    outline: none;
}